{%extends 'base.html'%}

{% load static %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}

{%block menu%}
<li class="nav-item">
    <a href="{% url 'home_geral' %}" class="nav-link">
        <i class="far fa-circle nav-icon"></i>
        <p>Home</p>
    </a>
</li>
<li class="nav-item">
    <a href="{% url 'add_historicos' 0 %}" class="nav-link active">
        <i class="far fa-circle nav-icon"></i>
        <p>Criar histórico</p>
    </a>
</li>
<li class="nav-item">
    <a href="/admin/aluno/aluno/" target="_blank" class="nav-link">
        <i class="far fa-circle nav-icon"></i>
        <p>Cadastro aluno</p>
    </a>
</li>

<li class="nav-item">
    <a href="/admin/historico/disciplina/" target="_blank" class="nav-link">
        <i class="far fa-circle nav-icon"></i>
        <p>Cadastro disciplinas</p>
    </a>
</li>
{%endblock%}

{%block header%}
<div class="col-sm-6">
    <h1>Atualizar Histórico</h1>
</div>
<div class="col-sm-6">
    <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item"><a href="{% url 'home_geral' %}">Inicio</a></li>
        <li class="breadcrumb-item active">Alimentar histórico</li>
    </ol>
</div>
{%endblock%}
{%block content%}
<div class="card card-primary">
    <div class="card-header ">
        <h5>Selecione um aluno</h5>
    </div>
    <div class="card-body">
        <form method="GET" id="form_busca" action="#">
            {% csrf_token %}
            <div class="row">
                <label>Alunos:</label>
                <div class="col-md-6">
                    <div class="form-group">
                        {% render_field form_busca_aluno.alunos class="form-control select2bs4"%}
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="col">
                        <button class="btn btn-secondary" id="btn_pesquisar" onclick="click_pesquisar()"
                            type="button"><i class="fas fa-search"></i></button>
                        <a class="btn btn-success" href="/admin/aluno/aluno/add/" target="_blank">
                            <i class="fas fa-user-plus"></i> Aluno</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="card">
    <div class="card-header p-2">
        <ul class="nav nav-pills">
            <li class="nav-item"><a class="nav-link active" href="#notas" data-toggle="tab">Tabela Notas</a></li>
            <li class="nav-item"><a class="nav-link" href="#oferta_anual" data-toggle="tab">Oferta Anual</a></li>
            <li class="nav-item"><a class="nav-link" href="#estudos" data-toggle="tab">Historico Estudos</a></li>

        </ul>
    </div><!-- /.card-header -->
    <form method="POST" id="form_table_notas" action="{% url 'update_historicos' cod_aluno %}">
        <div class="card-body">
            <div class="tab-content" id="pills-tabContent">
                {% csrf_token %}
                <div class="tab-pane active" id="notas">
                    {% include 'historico_tabela_notas.html' %}
                </div>
                <div class="tab-pane" id="estudos">
                    {% include 'historico_estudos.html'%}
                </div>
                <div class="tab-pane" id="oferta_anual">
                    {% include 'historico_oferta_anual.html' %}
                </div>
            </div>
            <div class="row" style="margin-top: 20px;">
                <div class="col-10">
                    <button id="btn_salvar_notas" class="btn btn-primary" type="submit"> <i class="fas fa-save"></i>
                        Atualizar</button>
                    <a id="btn_gerar_pdf" href="#" class="btn btn-info" onclick="gerar_pdf()"><i
                            class="far fa-file-pdf"></i> GERAR PDF</a>
                </div>
            </div>
    </form>
</div>
</div>

{% block scripts %}
<link rel="stylesheet" href="{% static 'css/historico.css' %}?version=1.2">
<script src="{% static 'js/historico.js' %}?version=1.5"></script>

<script type="text/html" id="disciplina-notas">
    <td style="width:50px">
        {% render_field forms.disciplinas style="width:145px" class="form-group select2bs4" id="id_form-__prefix__-disciplinas" %}
     </td>
        {% for qnt_turmas in turmas  %}
            <td style="width:300px">
                <div id="item-{{ forloop.counter0 }}" class="input-group mb-1">
                    {% render_field forms.nota class="form-control" placeholder="Digite" %}
                </div>
            </td>    
        {% endfor %}
    
    <td>
        <button class="btn btn-success" type="button" onclick="add_row_table();"><i class="fas fa-plus-circle"></i></button>    
    </td>  
</script>

{% endblock %}

{%endblock%}