{%extends 'base.html'%}
{% load static %}
{%block header%}
<div class="col-sm-6">
    <h1>Alimentar Histórico</h1>
</div>
<div class="col-sm-6">
    <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item"><a href="{% url 'home_geral' %}">Inicio</a></li>
        <li class="breadcrumb-item active">Alimentar histórico</li>
    </ol>
</div>
{%endblock%}
{%block content%}
<div class="card card-info">
    <div class="card-header ">
        <h5>Selecione um aluno</h5>
    </div>
    <div class="card-body">
        <form method="POST" id="form_busca">
            {% csrf_token %}
            <div class="row">
                <label>Selecione um aluno:</label>
                <div class="col-md-8">
                    <div class="form-group">
                        {{ form.aluno }}
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="col">
                        <button class="btn btn-info " type="submit" id="btncriartabela"><i
                                class="fas fa-search"></i></button>
                        <a class="btn btn-success" href="/admin/aluno/aluno/add/" target="_blank">
                            <i class="fas fa-user-plus"></i> Aluno</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="card">
    <div class="card-header p-2">
        <ul class="nav nav-pills">
            <li class="nav-item"><a class="nav-link active" href="#notas" data-toggle="tab">Lançar Notas</a></li>
            <li class="nav-item"><a class="nav-link" href="#estudos" data-toggle="tab">Lançar Estudos</a></li>
        </ul>
    </div><!-- /.card-header -->
    <form method="POST" id="form_table_notas">
        <div class="card-body">
            <div class="tab-content" id="pills-tabContent">
                {% csrf_token %}
                <div class="tab-pane active" id="notas">
                    <!-- inicio tabela -->
                    <div class="card">
                        <div class="card-body" id="table" style="height: 100%;">
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="estudos">
                    <div class="card">
                        <div class="card-body" id="table2" style="height: 100%;">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 30px;">
                <div class="col-2">
                    <button id="btn_salvar_notas" class="btn btn-success" type="submit"> <i class="fas fa-save"></i>
                        Salvar</button>
                </div>
                <div class="col-sm-2">
                    <a id="btn_gerar_pdf" href="#" class="btn btn-secondary" onclick="gerar_pdf()"><i
                            class="far fa-file-pdf"></i> GERAR PDF</a>
                </div>
            </div>
    </form>
</div>
</div>
{{ form.media.js }}

{% block scripts %}
<link rel="stylesheet" href="{% static 'css/historico.css' %}?version=1.0">
<script src="{% static 'js/historico.js' %}?version=1.0"></script>
{% endblock %}

{%endblock%}

{%block menu%}
<li class="nav-item">
    <a href="{% url 'home_geral' %}" class="nav-link">
        <i class="far fa-circle nav-icon"></i>
        <p>Home</p>
    </a>
</li>
<li class="nav-item">
    <a href="{% url 'historico' %}" class="nav-link active">
        <i class="far fa-circle nav-icon"></i>
        <p>Criar histórico</p>
    </a>
</li>
<li class="nav-item">
    <a href="/admin/aluno/aluno/" target="_blank" class="nav-link">
        <i class="far fa-circle nav-icon"></i>
        <p>Cadastro aluno</p>
    </a>
</li>
{%endblock%}