{%extends 'base.html'%}
{% load static %}

{%block header%}
<div class="col-sm-6">
    <h1>Alimentar Histórico</h1>
</div>
<div class="col-sm-6">
    <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item"><a href="{% url 'home_geral' %}">Inicio</a></li>
        <li class="breadcrumb-item active">Alimentar histórico</li>

    </ol>
</div>
{%endblock%}

{%block content%}

<div class="card card-secondary">
    <div class="card-header ">
        <h5>Selecione um aluno</h5>
    </div>
    <div class="card-body">
        <form method="POST" id="form_busca">
            {% csrf_token %}
            <div class="row ">
                <div class="col-sm-8">
                    <div class="form-group">
                        {{ form.aluno }}
                    </div>
                </div>
                <div class="col align-self-start">
                    <button class="btn btn-info" type="submit" id="btncriartabela"><i
                            class="fas fa-search"></i></button>
                    <a class="btn btn-success" href="/admin/historico/turma/add/?_to_field=cod_turma&_popup=1">
                        <i class="fas fa-user-plus"></i> Aluno</a>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="card">
    <div class="card-header p-2">
        <ul class="nav nav-pills">
            <li class="nav-item"><a class="nav-link active" href="#notas" data-toggle="tab">Lançar Notas</a></li>
            <li class="nav-item"><a class="nav-link" href="#estudos" data-toggle="tab">Lançar Estudos</a></li>
        </ul>
    </div><!-- /.card-header -->
    <form method="POST" id="form_table_notas">
        <div class="card-body">

            <div class="tab-content" id="pills-tabContent">

                {% csrf_token %}
                <div class="tab-pane active" id="notas">
                    <!-- inicio tabela -->
                    <div class="card">
                        <div class="card-body" id="table" style="height: 100%;">
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="estudos">

                    <div class="card">
                        <div class="card-body" id="table2" style="height: 100%;">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" style="margin-top: 30px;">
                <div class="col-2">
                    <button id="btn_salvar_notas" class="btn btn-success" type="submit"> <i class="fas fa-save"></i>
                        Salvar</button>
                </div>
                <div class="col-sm-2">
                    <a id="btn_gerar_pdf" href="#" class="btn btn-secondary"> GERAR
                        PDF</a>
                </div>
            </div>
    </form>



</div>
</div>

{{ form.media.js }}


{% block scripts %}
<link rel="stylesheet" href="{% static 'css/historico.css' %}">
<script src="{% static 'js/historico.js' %}"></script>

{% endblock %}

{%endblock%}