{%extends 'base.html'%}
{% load static %}
{% block title %} <title>Gerador de Histórico | Home</title>
{% endblock %}
{%block header%}
<div class="col-sm-6">
    <h1>Históricos Prontos</h1>
</div>
<div class="col-sm-6">
    <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item"><a href="{% url 'home_geral' %}">Home</a></li>
    </ol>
</div>
{%endblock%}


{%block content%}
<div class="card">
    <!-- /.card-header -->
    <div class="card-body">
        <a class="btn btn-primary btn-sm" href="{% url 'historico' %}" id="btnPdf"><i class="fas fa-plus-circle"></i>
            <b>Criar Histórico</b></a>
        <table id="historicos_aluno" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Cod.</th>
                    <th>Nome</th>
                    <th>Filiação</th>
                    <th>Data Nascimento</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
            </tbody>

        </table>
    </div>
</div>
{% block js %}
<script src="{% static 'js/index/index.js' %}?version=1.0"></script>
{%endblock js%}

{%endblock%}

{%block menu%}
<li class="nav-item">
    <a href="{% url 'home_geral' %}" class="nav-link active">
        <i class="far fa-circle nav-icon"></i>
        <p>Home</p>
    </a>
</li>
<li class="nav-item">
    <a href="{% url 'historico' %}" class="nav-link">
        <i class="far fa-circle nav-icon"></i>
        <p>Criar histórico</p>
    </a>
</li>
<li class="nav-item">
    <a href="/admin/aluno/aluno/" target="_blank" class="nav-link">
        <i class="far fa-circle nav-icon"></i>
        <p>Cadastro aluno</p>
    </a>
</li>
{%endblock%}